<div>
  <label>Name:</label>
  <input type="text" placeholder="Enter a name here" [value]="name" (input)="updateName($event)">
  <hr>
  <h1 [class.hidden]="!name">Hello {{ name }} !</h1>
</div>

<!--
  Exercice 1 : Helloworld
  - déclarer une propriété name avec la valeur 'Romain' côté TS
  - afficher cette valeur entre Hello et le point d'exclamation
  - afficher cette valeur dans le champs input
  - à la frappe clavier, récupérer la valeur saisi et mettre à jour
  la propriété name du composant (le composant se mettra à jour tout seul)
-->
