<h2>Hello component</h2>
<app-hello [name]="prenom"></app-hello>
<app-hello [name]="'Toto'"></app-hello>
<app-hello name="Toto"></app-hello>

<h2>Login Form component</h2>
<app-login-form></app-login-form>

<h2>Counter</h2>
<app-counter></app-counter>

<h2>Exercice</h2>
<app-hello-world [(name)]="prenom"></app-hello-world>
<app-hello-world [name]="prenom" (nameChange)="prenom = $event"></app-hello-world>

<!--
  Exercice :
  ajouter un @Output selectedChange sur multi-state-button (et button-group) et affecter la valeur
  remontée à selectedColor
-->
<app-multi-state-button [values]="colors" [(selected)]="selectedcolor"></app-multi-state-button>
<app-multi-state-button [values]="colors" [selected]="selectedcolor" (selectedChange)="selectedcolor = $event"></app-multi-state-button>


<h2>Button Group</h2>
<app-button-group [values]="colors" [selected]="selectedcolor" (selectedChange)="selectedcolor = $event"></app-button-group>

<h2>Clock With Controls</h2>
<app-clock-with-controls></app-clock-with-controls>
