<!-- <form
  [attr.data-username]="user.username"
  [class.user-valid]="user.username"
  [class.password-valid]="user.password"
> -->
<form
  [attr.data-username]="user.username"
  [ngClass]="{'user-valid': user.username, 'password-valid': user.password}"
  (submit)="sendData($event)"
>
  <input
    placeholder="Login"
    [value]="user.username"
    (input)="updateUsername($event)"
  />
  <input
    placeholder="Password"
    type="password"
    [value]="user.password"
    (input)="user.password = $any($event.target).value"
  />
  <div>
    <input
      type="checkbox"
      [checked]="user.rememberMe"
      (change)="user.rememberMe = checkbox.checked"
      #checkbox
    />
    Remember me
  </div>
  <div>
    <button>Send</button>
  </div>
</form>

<!-- {{ user | json }} -->

<!-- <ng-template [ngIf]="user.password">
  <div>Password : {{ user.password }}</div>
</ng-template> -->

<div *ngIf="user.password">Password : {{ user.password }}</div>

<!-- <ng-template [ngIf]="user.password">
  Password : {{ user.password }}
</ng-template> -->

<ng-container *ngIf="user.password">Password : {{ user.password }}</ng-container>

<!--

  inputEl.addEventListener('click', ($event) => {
    this.user.username = event.target.value;
    refreshUi();
  });

  inputEl.addEventListener('my-event', ($event) => {
    this.user.username = event.target.value;
    refreshUi();
  });

  inputEl.dispatchEvent(new Event('my-event'));
-->
